@font-face {
   font-family: 'Helvetica Neue';
   src: url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Bold.woff2"), url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Bold.woff");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Light.woff2") format('woff2'), url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Light.woff") format('woff');
   font-style: normal;
   font-weight: 300;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Medium.woff2") format('woff2'), url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Medium.woff") format('woff');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Thin.woff2") format('woff2'), url("/Users/user/Desktop/Bonovizio/src/fonts/HelveticaNeueCyr-Thin.woff") format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}