@import "wrapper";
@import "fonts";

.preview__body {
   background: #0A2756;
   display: flex;
   justify-content: center;
   margin-top: 66px;
}
.preview__conteiner {
   margin: 32px 0 86px 0;
   @media screen and (max-width: 1020px){
      margin: 53px 0 37px 0;
   }
   @media screen and (max-width: 321px){
      margin: 60px 0 130px 0;
   }
}
.preview__shell {
   padding: 0 38px 0 220px;
   @media screen and (max-width: 1020px){
      padding: 0 37px 0 74px;
   }
   @media screen and (max-width: 321px){
      padding: 0 20px;
   }
}
.preview__greetings {
   display: flex;
   justify-content: space-between;
   @media screen and (max-width: 321px){
      flex-wrap: wrap;
   }
}
.preview__content {
   position: relative;
   // margin-top: 37px;
   &::before {
      content: '';
      background: url('/src/img/Group.svg');
      width: 35.038px;
      height: 243.426px;
      position: absolute;
      left: -60px;
      @media screen and (max-width: 1020px){
         background: url('/src/img/prew1.svg');
         width: 25.804px;
         height: 178.513px;
         left: -54px;
      }
      @media screen and (max-width: 321px){
         background: url('/src/img/group2.svg');
         width: 18px;
         height: 127.393px;
         left: -13px;
      }
   }
}
.preview__subtitle-svg {
   @media screen and (max-width: 1020px){
      width: 197.635px;
      height: 40.416px;
   }
   @media screen and (max-width: 321px){
      width: 140.451px;
      height: 28.842px;
      padding-left: 14px;
   }
}
.preview__title {
   margin: 34px 0 27px 0;
}
.preview__title-svg {
   @media screen and (max-width: 1020px){
      width: 348.941px;
      height: 122.125px;
   }
   @media screen and (max-width: 321px){
      width: 247.978px;
      height: 87.153px;
      padding-left: 14px;
   }
}
.preview__list {
   display: flex;
   align-items: center;
   gap: 0 35px;
   @media screen and (max-width: 1020px){
      gap: 0 26px;
   }
   @media screen and (max-width: 321px){
      gap: 0 19px;
      padding-left: 14px;
   }
}
.preview__paragraph-svg-1{
   @media screen and (max-width: 1020px){
      width: 55.713px;
      height: 15.972px;
   }
   @media screen and (max-width: 321px){
      width: 39.593px;
      height: 11.398px;
   }
}
.preview__paragraph-svg-2{
   @media screen and (max-width: 1020px){
      width: 74.578px;
      height: 21.912px;
   }
   @media screen and (max-width: 321px){
      width: 52.999px;
      height: 15.637px;
   }
}
.preview__paragraph-svg-3{
   @media screen and (max-width: 1020px){
      width: 60.6px;
      height: 8.668px;
   }
   @media screen and (max-width: 321px){
      width: 43.066px;
      height: 6.185px;
   }
}
.preview__paragraph-svg-4{
   @media screen and (max-width: 1020px){
      width: 58.584px;
      height: 19.575px;
   }
   @media screen and (max-width: 321px){
      width: 41.634px;
      height: 13.969px;
   }
}
.preview__button {
   margin-top: 65px;
   @media screen and (max-width: 1020px){
      position: absolute;
   }
   @media screen and (max-width: 321px){
      margin: 59px 0;
      position: relative;
   }
}
.preview__btn {
   width: 423px;
   height: 71px;
   background: #007DFE;
   color: #FFF;
   text-align: center;
   font-family: Helvetica Neue;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; 
   letter-spacing: 9.38px;
   text-transform: uppercase;
   &:hover {
      opacity: 0.5;
   }
   @media screen and (max-width: 321px){
      width: 279px;
      letter-spacing: 4.2px;
   }
}
.preview__img{
   background-image: url('/src/img/img.svg');
   width: 397px;
   height: 361px;
   @media screen and (max-width: 1020px){
      background-image: url('/src/img/prew.svg');
      width: 244px;
      height: 211px;   
   }
   @media screen and (max-width: 321px){
      background-image: url('/src/img/prew3.svg');
      width: 237px;
      height: 215px;   
      margin: auto;
   }
}
.preview__message {
   margin: 48px 0;
   @media screen and (max-width: 1020px){
      margin: 192px 0 73px 0;
   }
   @media screen and (max-width: 321px){
      margin: 48px 0 0 0;
   }
}
.preview__message-title {
   width: 51%;
   color: #FFF;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
   margin-bottom: 21px;
   @media screen and (max-width: 1020px){
      width: 76%;
   }
   @media screen and (max-width: 321px){
      width: 80%;
   }
}
.preview__message-subtitle {
   width: 47%;
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%; 
   @media screen and (max-width: 1020px){
      width: 70%;
   }
   @media screen and (max-width: 321px){
      width: 84%;
   }
}
.preview__arrow {
   display: flex;
   justify-content: center;
   @media screen and (max-width: 321px){
      display: none;
   }
}
.preview__arro-btn {
   background-color: inherit;
}
.preview__arro-svg {
   position: relative;
   animation: bounce 3s linear infinite;
}
@keyframes bounce {
   0% {
      bottom: 50px;
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      bottom: 0px;
      opacity: 0;
   }
 }